<header class="navbar navbar-fixed-top">
 <div class="container">
   <%= link_to(image_tag("2nd_Family.JPG", :alt => "header_logo"), root_url, id: 'logo') %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to '2nd Familyとは？', about_path %></li>
       <li><%= link_to 'ユーザー登録', signup_path %></li>
     </ul>
   </nav>
 </div>
</header>